.forecast_container {
  min-height: 100vh;
  max-height: 100vh;
  width: calc(100vw - 400px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: "Raleway";
  font-style: normal;
  overflow-y: scroll;
  .forecast_cards_container {
    height: 200px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5, auto);
    gap: 26px;
  }
  .highlight_message {
    width: 100%;
    color: #e7e7eb;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin: 16px 0;
  }
}

@media screen and (max-width: 1200px) {
  .forecast_container {
    height: auto;
    width: 100vw !important;
  }
}

@media screen and (max-width: 576px) {
  .forecast_container {
    overflow-y: initial;
    max-height: initial;
    .forecast_cards_container {
      grid-template-columns: repeat(2, auto) !important;
      height: auto !important;
      padding: 26px 0;
    }
    .highlight_message {
      height: 52px;
      display: grid;
      align-items: center;
    }
  }
}
@media screen and (min-width: 576px) and (max-width: 769px) {
  .forecast_cards_container {
    height: auto !important;
    padding: 26px 0;
    grid-template-columns: repeat(4, auto) !important;
  }
}

@media screen and (min-width: 577px) and (max-width: 1200px) and (orientation: landscape) {
  .forecast_container {
    overflow-y: initial;
    max-height: initial;
    .forecast_cards_container {
      padding: 26px 0;
    }
    .highlight_message {
      height: 52px;
      display: grid;
      align-items: center;
    }
  }
}
