.filter_container {
  height: 100vh;
  width: 400px;
  transform: translateX(-100vw);
  position: absolute;
  z-index: 3;
  transition: 0.5s;
  background-color: #1e213a;
  .close {
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .close_button {
      height: 50px;
      width: 50px;
      margin-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 50%;
        transition: 0.5s;
        margin-top: 20px;
        &:hover {
          cursor: pointer;
          transform: rotate(90deg);
        }
      }
    }
  }
  .filter {
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    input {
      background-color: transparent;
      height: 35px;
      width: 230px;
      text-align: center;
      border: 1px solid white;
      outline: none;
      color: white;
    }
    button {
      height: 40px;
      width: 70px;
      border: none;
      background-color: #3c47e9;
      color: white;
      transition: 0.5s;
      &:hover {
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
          rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
          rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      }
    }
  }

  &.active {
    transform: translateX(0);
  }
  .locations_container {
    height: 70%;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #505366;
    }

    &::-webkit-scrollbar-thumb {
      background: #e8e8eb;
    }
  }
}
@media screen and (max-width: 750px) {
  .filter_container {
    height: 600px;
    width: 100vw;
  }
}

@media screen and (min-width: 751px) and (max-width: 1200px) {
  .filter_container {
    height: 600px;
    width: 400px;
    &.active {
      transform: translateX(-26vw);
    }
  }
}
