.filter_container {
  height: 100vh;
  width: 400px;
  transform: translateX(-400px);
  position: absolute;
  z-index: 3;
  transition: 0.5s;
  background-color: #1e213a;
  .close {
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .close_button {
      height: 50px;
      width: 50px;
      margin-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 50%;
        transition: 0.5s;
        margin-top: 20px;
        &:hover {
          cursor: pointer;
          transform: rotate(90deg);
        }
      }
    }
  }
  &.active {
    transform: translateX(0px);
  }
  .locations_container {
    height: 70%;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #505366;
    }

    &::-webkit-scrollbar-thumb {
      background: #e8e8eb;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
  .filter_container {
    height: 600px;
    width: 300px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .filter_container {
    height: 500px;
    width: 300px;
  }
}
@media only screen and (max-width: 575px) {
  .filter_container {
    width: 100%;
    .locations_container {
      height: 75%;
    }
  }
}
