.error_container {
  height: 50px;
  width: 85%;
  margin-left: 0;
  margin-right: 0;
  margin: auto;
  display: flex;
  background-color: #f44336;
  border: 3px solid #f44336;
  color: white;
  animation: show 1s 1 ease-in forwards;
  .message_container {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .close_message {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f44336;
    i {
      font-size: 2rem;
    }
  }
  @keyframes show {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0.25;
    }
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 0.75;
    }
    100% {
      opacity: 1;
    }
  }
}
